{% extends 'admin.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">{% trans %}Créer un utilisateur{% endtrans %}</li>
            </ol>
        </nav>
        <h1 class="h3 mb-3">{% trans %}Créer un utilisateur{% endtrans %}</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{% trans %}Créer un utilisateur{% endtrans %}</h5>
                    </div>
                    <div class="card-body">
                        {{ include('user/user/_form.html.twig', {'button_label': "Créer l'utilisateur"}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}