{% extends 'base.html.twig' %}

{% block title %}Calenduret - Connexion{% endblock %}

{% block body %}
<section class="login mb-5">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger mt-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="container my-5">
            <div class="card py-1 py-md-5">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="text-center mb-3 mb-md-5">Connexion</h1>
                            <div class="row mt-4">
                                <div class="col-12">
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" autocomplete="email" required autofocus>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12">
                                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>
                                </div>
                            </div>
                            <div class="row mt-4 text-center">
                                <p>Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">Inscrivez-vous</a></p>
                            </div>
                            <div class="row mt-2 mt-md-4">
                                <div class="text-center">
                                    <button type="submit" class="btn-color-to-transparent rounded secondary">Valider</button>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
    </form>
</section>
{% endblock %}
