{% block modelBoxType_row %}
    <div class="remi box-form-container">
        {{ form_label(form.path) }}
        {{ form_widget(form.path, { 'attr': {'class': 'form-control'} }) }}
    </div>
{% endblock %}