{% extends 'admin.html.twig' %}

{% block title %}Créer un modèle{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">{% trans %}Créer un modèle{% endtrans %}</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {{ include('calendar/model_calendar/_form.html.twig', {'button_label': "Créer le modèle"}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}