{% extends 'base.html.twig' %}

{% block title %}Calenduret - Réinialisation de mot de passe{% endblock %}

{% block body %}
    <section>
        <div class="container my-5">
            <div class="card py-1 py-md-5">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card-body">
                            <p>
                                S'il existe un compte correspondant à votre adresse e-mail, vous recevrez un lien que vous pourrez utiliser pour réinitialiser votre mot de passe.
                                Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                            </p>
                            <p>Si vous ne recevez pas de mail, vérifiez votre dossier de courriers indésirables ou refaite une <a href="{{ path('app_forgot_password_request') }}">réinitalisation de mot de passe</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>          
    </section>
{% endblock %}
