{% extends "base.html.twig" %}

{% block title %}Édition {{ model.title }}{% endblock %}

{% block body %}

<section class="edit-calendar my-5">
    <div class="container">
        <div class="row">
            <h1 class="mb-3">Édition - Calendrier {{ model.title }}</h1>
            {% include "front/modelCalendar/_form.html.twig" %}
        </div>
    </div>
</section>

{% endblock %}