{% extends 'base.html.twig' %}

{% block body %}
    <section class="error">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8 col-10">
                    <h1>Vous n'avez pas les autorisations nécessaires pour accéder à cette ressource.</h1>
                </div>
            </div>
        </div>
        <div class="black-filter">
    </section>
{% endblock %}