{% extends 'base.html.twig' %}

{% block body %}
    <section class="error">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8 col-11">
                    <h1>Oups, cette page n'existe pas...</h1>
                </div>
            </div>
        </div>
        <div class="black-filter">
    </section>
{% endblock %}