<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="{{ path('home_admin') }}">
            <div class="align-middle me-3">Calendrier de l'avent</div>
        </a>
        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Menu principal
            </li>
            <li class="sidebar-item">
                <div class="sidebar-link collapsed" data-bs-target="#test" data-bs-toggle="collapse">
                    Icone   
                    <span class="align-middle">Menu déroulant ?</span>
                </div>
                <ul id="test" class="sidebar-dropdown list-unstyled collapse">
                    {# <li class="sidebar-item {% if url('maroute') == app.request.uri %} active {% endif %}"> #}
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#">
                            Icone
                            <span class="align-middle">Nom</span>
                        </a>
                    </li>
                </ul>
            </li>
            {# <li class="sidebar-item {% if url(menu.route) == app.request.uri %} active {% endif %}"> #}
            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
                    Icone
                    <span class="align-middle">Nom</span>
                </a>
            </li>
        </ul>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let openedMenu = sessionStorage.getItem('opened_menu');
            if(openedMenu !== null) {
                openedMenu = JSON.parse(openedMenu);
            }

            let collapseElementList = [].slice.call(document.querySelectorAll('.sidebar-dropdown.collapse'));
            let collapseStateList = openedMenu === null ? {} : openedMenu;
            collapseElementList.map((element) => {
                if(openedMenu !== null) {
                    if(element.id in openedMenu) {
                        if(openedMenu[element.id] === "shown") {
                            setTimeout(function () {
                                new bootstrap.Collapse(element, {
                                    show: true
                                });
                            }, 250)
                        }
                    }
                }
                element.addEventListener('show.bs.collapse', function (event) {
                    collapseStateList[event.target.id] = "shown";
                    sessionStorage.setItem('opened_menu', JSON.stringify(collapseStateList));
                });
                element.addEventListener('hide.bs.collapse', function (event) {
                    collapseStateList[event.target.id] = "hidden";
                    sessionStorage.setItem('opened_menu', JSON.stringify(collapseStateList));
                });
            });
        });
    </script>
</nav>