@import "~bootstrap/scss/bootstrap";

// Override bootstrap
// .custom-brand{
//     --bs-navbar-brand-hover-color: red;
// }

@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: OpenSans;
    src: url('fonts/OpenSans-VariableFont_wdth.ttf');
}

@font-face {
    font-family: DancingScript;
    src: url('fonts/DancingScript-VariableFont_wght.ttf');
}

$red: #A52A2A;
$green: #0a2621;
$brown: #473535;

body {
    background-color: lightgray;
}

p{
    font-family: 'Montserrat';
}

//HEADER
header{
    .navbar{
        background-color: $brown;
        box-shadow: inset 0px 15px 55px 0px #000000;
        -webkit-box-shadow: inset 0px 15px 55px 0px #000000;
        min-height: 100px;
    }
    
    .nav-item{
        .nav-link{
            color: #fff;
        }
    }

    .dropdown-toggle::after {
        vertical-align: 0.15em;
    }
}  