// Variables
@import "1-variables/dark";

// AppStack
@import "app";

.ts-control:not(.form-select).single .ts-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23bfc1c6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

.nested-level-1 {
  background-color: darken(#293042, 2.25%)!important;
}

.nested-level-2 {
  background-color: darken(#293042, 4.5%)!important;
}